<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ScrollViewForImageReview.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>CF525CB71CB4B7370041BE55</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CF525CD31CB4B7370041BE55</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CF525CDE1CB4B7370041BE55</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
